
.main-signup_container {
    height: 100vh;
    width: var(--container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container {
    width: 25em;
    height: 25em;
    border: 2px solid var(--primary);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--secondary), var(--background), var(--secondary));
    box-shadow: 6px 6px 0 var(--primary);
}

.signup-heading {
    padding: 1em;
}

#email, #password {
    margin: 0.4em;
    padding: 0.4em;
    border-radius: 0.5em;
}

.btn-container {
    height: 3em;
}


.signup-btn {
    background: linear-gradient(var(--primary), var(--background), var(--primary));
    color: black;
    padding: 0.4em;
    border-radius: 0.5em;
}

.signup-btn:hover {
    padding: 0.7em;
    box-shadow: 3px 3px 0 var(--primary);
}
