main:has(.product-page) {
    display: grid;
    place-content: center;
}
.product-page {
    position: relative;
    margin-block: 4rem;
}

.inside-product-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

.back-button {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    top: -3rem;
    left: 0;
    box-shadow: 2px 2px 2px black;
}
.product-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.product-info > h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-block-end: 1rem;
}
.product-info--price {
    font-weight: 700;
    text-align: right;
    font-size: 1.5rem;
    margin-top: auto;
}
.product-image {
    width: 100%;
    height: 45ch;
    object-fit: cover;
}
.product-buy-btn {
    margin-block-start: 0.5rem;
    border: none;
    color: var(--background);
    background-color: var(--accent);
    padding-block: 1rem;
    border-radius: 0.625rem;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}
.product-buy-btn:active {
    transform: scaleX(0.95);
}
.product-buy-btn:hover {
    background-color: var(--secondary);
    cursor: pointer;
}
@media (width < 700px) {
    .inside-product-page {
        grid-template-columns: 1fr;
    }
    .product-image {
        height: 30ch;
    }
}
