.search-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    flex: 1 1 25rem;
    max-width: 35rem;
}

.search-input {
    padding-block: 0.5rem;
    border: none;
    outline: none;
    padding-inline: 1rem;
    border-radius: 0.25rem 0 0 0.25rem;

    min-width: 0;
    padding-block: 1rem;
    border: 1px solid #000000;
    border-right: none;
}
@media (width < 1200px) {
    .search-container {
        max-width: unset;
    }
}

.search-button {
    background-color: var(--primary);
    padding-inline: 0.5rem;
    background: linear-gradient(var(--secondary), var(--background), var(--primary));
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0.625rem 1rem;
    transition: position 0.3s ease, filter 0.2s ease;

    border: 1px solid #000000;
    border-left: none;
}

.search-results {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}

.search-results li {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
}

.search-results li:hover {
    background-color: #f0f0f0;
}
