.header-background {
    background: linear-gradient(var(--secondary), var(--background), var(--primary));
    box-shadow: 7px 7px 7px black;
    border-bottom: 2px solid black;
    position: relative;
}

.header-container {
    width: var(--header-container);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-block: 0.5rem;
}

.logo-container {
    flex: 0 1 10rem;
}
.header__list {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}
@media (width < 1070px) {
    .header__list {
        display: none;
    }
    .header-container > section {
        display: none;
    }
}

.home-button,
.product-button,
.login-button,
.cart-button {
    background: linear-gradient(var(--secondary), var(--background), var(--primary));
    border: 1px solid #000000;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px black;
    padding: 0.625rem 1rem;
    transition: position 0.3s ease, filter 0.2s ease;
}
.home-button:hover,
.product-button:hover,
.login-button:hover,
.cart-button:hover {
    cursor: pointer;
    filter: brightness(1.3);
}
.logo {
    filter: brightness(1.5);
}
.logo:hover {
    filter: brightness(2);
    cursor: pointer;
}

.search-cart-container {
    position: relative;
    flex-shrink: 0;
}

.plus-icon {
    color: red;
    line-height: 1.5;
    font-size: 0.875rem;
    width: 1.3rem;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100vh;
    position: absolute;
    top: -5px;
    right: -5px;
}
.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.hamburger-menu {
    flex-shrink: 0;
    margin-left: auto;
}
.hamburger--btn {
    background: linear-gradient(var(--secondary), var(--background), var(--primary));
    border: 1px solid #000000;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px black;
    padding: 0.625rem 1rem;
    transition: position 0.3s ease, filter 0.2s ease;
    min-width: fit-content;
}
.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease;
    background-color: var(--primary);
    border-radius: 0 0 0.625rem 0.625rem;
    z-index: 1000;
}
@media (width > 1070px) {
    .hamburger--btn {
        display: none;
    }
    .menu {
        display: none;
    }
}
.menu.open {
    transform: scaleY(1);
}
.menu > ul {
    display: grid;
    gap: 1rem;
}
.hambuger__nav--item {
    display: grid;
}
.hambuger__nav--item > a {
    background: linear-gradient(var(--secondary), var(--background), var(--primary));
    border: 1px solid #000000;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    padding: 0.625rem 1rem;
    transition: position 0.3s ease, filter 0.2s ease;
}
