:root[data-theme='light'] {
    --text: rgb(3, 11, 17);
    --background: rgb(242, 249, 253);
    --primary: rgb(51, 164, 225);
    --secondary: rgb(135, 144, 237);
    --accent: rgb(93, 78, 228);
}
:root {
    --font-family: 'Roboto', sans-serif;

    --container-max-width: 120ch;
    --container-padding-inline: 2rem;
    --container: min(calc(100% - var(--container-padding-inline)), var(--container-max-width));
}

.main-login_container {
    height: 90vh;
    width: var(--container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media (min-width: 1250px) {
    .main-login_container {
        height: 100vh;
    }
}

.login-container {
    width: 45em;
    height: 25em;
    border: 2px solid var(--primary);
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(var(--secondary), var(--background), var(--secondary));
    box-shadow: 6px 6px 0 var(--primary);
}

.login-heading {
    padding: 1em;
}

.heading-container {
    align-self: flex-start;
    justify-content: flex-start;
}

#email, #password {
    margin: 0.4em;
    padding: 0.4em;
    border-radius: 0.5em;
}

.btn-container {
    height: 3em;
}

.subheading {
    padding: 0.7em;
}


.login-btn {
    background: linear-gradient(var(--primary), var(--background), var(--primary));
    color: black;
    padding: 0.4em;
    margin: 0.5em;
    border-radius: 0.5em;
    display: block;
}

.login-btn:hover {
    padding: 0.5em;
    box-shadow: 3px 3px 0 var(--primary);
}

.link {
    padding: 0.7em;
}

.link:hover {
    font-weight: 600;
}
