.footer-container {
    width: 100%;
    height: auto;
    background-color: black;
    color: var(--background);
    margin-bottom: 0;
}

.inside-footer_container {
    width: var(--container);
    margin-inline: auto;
    margin-block: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inside-footer_container article {
    flex: 1;
    min-width: 150px;
    margin: 10px;
}

@media (max-width: 600px) {
    .inside-footer_container {
        flex-direction: column;
        align-items: flex-start;
    }
    .inside-footer_container article {
        margin: 10px 0;
    }
    .inside-footer_container article h5 {
        cursor: pointer;
        position: relative;
        padding-right: 20px;
        display: inline-block;
    }
    .inside-footer_container article h5::after {
        content: '+';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
    }
    .inside-footer_container article p {
        display: none;
    }
    .inside-footer_container article.active p {
        display: block;
    }
}