.checkout {
    margin-block: 2.5rem;
}
.checkout__title {
    font-size: 3rem;
    margin-block-end: 1rem;
}
.checkout__list {
    display: grid;
    gap: 1rem;
}
.checkout-item__price {
    text-align: right;
}
.checkout__devider {
    margin-block: 1rem;
    border: unset;
    border-bottom: 1px solid #e5e7eb;
}
.checkout__details-section {
    margin-block-start: 2rem;
    display: grid;
    align-items: start;
    gap: 2rem;
}
@media (width > 800px) {
    .checkout__details-section {
        grid-template-columns: 1fr 1fr;
    }
}
