.centered-container {
    position: relative;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(var(--secondary), var(--background), var(--secondary));
    margin: 3%;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
}
.shop-header {
    color: var(--text);
    text-transform: capitalize;
    margin-top: 3%;
    margin-bottom: 3%;
}

.item-list {
    margin-bottom: 20px;
    width: 100%;
}

.item-list h2 {
    font-size: 1.5rem;
    color: var(--text);
}

.item-list ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 20px;
}

.item-list li {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 7px 7px 7px black;
    background: linear-gradient(var(--primary), var(--background), var(--primary));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.item-list li:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.medium-image {
    border-radius: 5%;
    border: 1px solid #000000;
    height: auto;
    max-width: 150px; /* Adjust max-width as needed */
    margin-top: 10px;
}
.item-description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.buy-button {
    background-color: rgb(204, 253, 204);
    padding: 1px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}
.buy-button:hover {
    background-color: rgb(14, 255, 5);
    cursor: pointer;
}
.item-price {
    margin-top: auto;
}
.item-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(var(--secondary), var(--background), var(--primary));
    border: 1px solid #000000;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    padding: 10px 15px;
    margin: 0 5px;
    height: 40px;
    line-height: 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: position 0.3s ease;
}
.back-button:hover {
    cursor: pointer;
    filter: brightness(1.3);
}
.back-button img {
    width: 24px;
    height: auto;
}
